@font-face{
	font-family: "font-1";
	src: url(./font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: "font-2";
    src: url(./font/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
body{
    background-color:hsl(30, 38%, 92%);
}

.titreProduit{
  width: 200px;
  line-height:32px
}

.description{
    width: 210px;
    font-family: "font-1";
    color: slategrey;
    line-height:23px
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    height: 100vh;
    overflow: hidden;
}

.information{
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 505px;
    margin-top: -5px;
    
    
}

img{
width: 350px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;

}


button{
    border: none;
    display: flex;
	align-items: center;
    background-color: hsl(158, 36%, 37%);
    color: aliceblue;
	height: 50px;
    padding-left: 20px;
    padding-right: 30px;
    margin-top: 30px;
    border-radius: 6px;
}

.nomsoc{
    font-family: "font-1";
    font-size: 14px;
    color: hsl(212, 21%, 14%);
    letter-spacing : 3px;
}
.prix{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.nvprix{
    font-family: "font-2";
    font-size: 30px;
    color: hsl(158, 36%, 37%);
}

.ancienprix{
    padding-left: 10px;
    text-decoration:line-through;
    color: slategrey;
}
center{
    display: flex;
    vertical-align: middle;
}
.add{
    padding-left: 10px;
    font-weight: bold;
    font-size: 15px;
}
.btadd{
    display:flex;
    justify-content: center;
     margin-top: 30px;
}